services:
  caddy:
    image: caddy:latest
    container_name: aowow_gateway
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - aowow_net

volumes:
  caddy_data:
  caddy_config:

networks:
  aowow_net:
    external: true
    name: aowow_private_net